
body{
    font-family:sans-serif;
  
}

a{
    color:black;
    transition:all 0.4s ease;
    font-weight: 500;

}
/***navbar*****/
.top-nav{
    background-color:#16e00f;
    padding-top: 3px;
    padding-bottom: 3px;
}
.top-nav p{
    margin-top: 0;
    display:inline-block;
    margin-right: 16px;
    color:black;
    font-size: 15px;
}
.top-nav i,
.top-nav span{
    vertical-align: middle;
}
.social-links a{
    width:34px;
    height:34px;
    background-color:rgba(255, 255, 255, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 18px;
    border-radius: 100%;
}
.social-links a:hover{
    background-color: white;
    color:#16e00f;

}
.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color:blue;
}
/*****button****/
.btn{
    padding:9px 20px;
    font-weight: 500;



}
.btn-brand{
    background-color: #16e00f;
    color:white;
    border-color: aqua;
}
.btn-brand:hover{
    color:#020303;
    background-color: aqua;
}
.navbar .navbar-nav .nav-link:hover{
    color:#16e00f;

}
.custom-carousel-image{
    
   height:100vh;
}
.carousel-item h5,p{
    font-weight:400;
    font-size:30px;
    align-items:bottom;
    margin-top:60px;
}
.container{
    margin-top: 10px;
}
.intro{
    margin-top: 20px;
}
.intro h6{
    color:#16e00f;
    font-weight: 400;
}
.intro p{
    max-width: 500px;
    margin:auto;
}

/********services*****/
.service-box{
    padding:34px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    text-align:center;

}
.service-box img{
    width:unset;
}
.service-box h5{
    margin-top:24px;
    margin-bottom: 12px;
}
/*****team******/
.team-member .img-wrapper{
    position:relative;
    overflow: hidden;
}
.team-member .overlay{
   position: absolute;
   top:-10%;
   left:0;
   width:100%;
   height:100%;
   background-color: rgba(22, 224, 15, 0.411);
   transition: all 0.4s ease;
   opacity: 0;
}

.team-member .social-links{
    position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    transition: all 0.4s ease;
    opacity:0;
}

.team-member:hover .overlay{
    opacity:1;
    top:0;

}
.team-member:hover .social-links{
     opacity:1;
     top:50%;

}
.team-member{
    text-align: center;
}
.team-member h5{
    margin-top: 24px;
}
/******footer*****/
footer{
    height:350px;
  
    color:#fff;
    background: linear-gradient(rgba(9,32,50,0.8),rgba(9,32,50,0.8)),url(images\pexels-mica-asato-1198171.jpg);
    text-align: center;
}
footer .navbar-brand{
    color:#fff;
    margin-bottom: -10px;
    display:inline-block;

}
.footer-top{
    margin-bottom: 10px;
    padding:0;
    
}
.footer-bottom{
  
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.0.8);
}
footer .social-links a{
     margin-left: 5px;
     margin: 5px;
}
.form-control:focus,input{
    box-shadow:none;
    background-color: transparent;
    border:0;
    border-bottom: 2px solid green;
}
.form-control {
    border:none;
    background-color: transparent;
    background-color:rgba(92, 89, 89, 0.329);
}
.copyright p{
    font-size: 15px;
    padding-top: 10px;
}
.copyright{
    padding-bottom: 10px;
}
.footer1 p,h1{
  margin-bottom: 25px;
  align-items: top;

}

